<!DOCTYPE html>
<html lang="ua"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style2.css}" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script th:src="@{/scripts/script.js}"></script>
    <script th:src="@{/scripts/script2.js}"></script>
    <title>ТОВ «ГУТА СКЛА»</title>
</head>
<body>

<div class="hold">
    <div class="header">
        <div class="container" style="background-color: #FFFFFF">
            <img id="logo" style="width: 60px; height: 60px;" th:src="@{/images/logo.jpg}"/>
            <ul class="nav">
                <li><a th:href="@{/index}">Головна</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li><a href="#">Wow</a></li>
                <li><a href="#">Wow</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>