<!DOCTYPE html>
<html lang="ua"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script th:src="@{/scripts/script.js}"></script>
    <title>ТОВ «ГУТА СКЛА»</title>
</head>
<body>

<div class="hold">
    <div class="header">
        <div class="container" style="background-color: #FFFFFF">
            <img id="logo" style="width: 60px; height: 60px;" th:src="@{/images/logo.jpg}"/>
            <ul class="nav">
                <li><a th:href="@{/index}">Головна</a></li>
                <li><a th:href="@{/catalog}">Каталог</a></li>
                <li><a href="#">Wow</a></li>
                <li><a href="#">Wow</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section">
    <div class="slider">
        <section class="about">
        <video poster="" id="video" class="video" playsinline autoplay muted loop>
                <source src="https://static.videezy.com/system/resources/previews/000/036/968/original/water4.mp4" type="video/mp4">
        </video>
            <div class="about-title">
                <h1 class="hero">ГУТА СКЛА</h1>
                <h2 class="hero">Український бренд</h2>
                <div class="call"><span>Wow</span></div>
            </div>
        </section>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="col four">
            <h1 class="icon"><i class="fa fa-cog" style="font-size: 45px" aria-hidden="true"></i></h1>
            <h1 class="service">Технологія виробництв</h1>
            <p>Виробництво здійснюється на роботизованому обладнанні, яке забезпечує високу якість товару та швидкість його виготовлення. Виробництво здійснюється на трьох лініях, відповідно до потреби обробки скла.
            </p>
        </div>
        <div class="responsivegroup"></div>
        <div class="col four">
            <h1 class="icon"><i class="fa fa-tags" style="font-size: 45px" aria-hidden="true"></i></h1>
            <h1 class="service">Асортимент продукції</h1>
            <p>	На даний момент, підприємство виготовляє так зване димчате скло, для забезпечення потреб внутрішнього ринку, в якісному та вітчизняному посуді.
                Асортимент наповнений різного роду продукцією, що дозволяє бути конкурентоспроможним по відношенню до імпортного посуду Luminarc та Arcoroc.
            </p>
        </div>
        <div class="col four">
            <h1 class="icon"><i class="fa fa-map-marker" style="font-size: 45px" aria-hidden="true"></i></h1>
            <h1 class="service">Місцезнаходження</h1>
            <p>Товариство з обмеженою відповідальністю «ГУТА СКЛА» засноване у формі спільного товариства з іноземним співзасновником 29 липня 2019 року та знаходиться у Львівській області, Стрийському р-ні, с.Ходовичі, вул Привокзальна 10.
            </p>
        </div>
        <div class="col four">
            <br>
            <br>
            <br>
            <br>
            <img style="width: 100%; height: auto;" th:src="@{/images/location.png}" alt="Розташування"/>
        </div>
    </div>
</div>

<div class="section bg">
    <div class="container">
        <h1>Wow wow</h1>
        <h2>Wow wow wow!</h2>
        <div class="col three bg nopad pointer">
            <div class="imgholder"><img style="width: 80%; height: auto;" th:src="@{/images/img.png}"/></div>
            <h1 class="feature">Тип 1</h1>
            <p>Wow wow</p>
        </div>
        <div class="col three bg nopad pointer">
            <div class="imgholder"><img style="width: 80%; height: auto;" th:src="@{/images/img_1.png}"/></div>
            <h1 class="feature">Тип 2</h1>
            <p>Wow wow wow</p>
        </div>
        <div class="col three bg nopad pointer">
            <div class="imgholder"><img style="width: 80%; height: auto;" th:src="@{/images/img_2.png}"/></div>
            <h1 class="feature">Тип 3</h1>
            <p>Wow wow wow</p>
        </div>
        <div class="group margin"></div>
        <div class="col three bg nopad pointer">
            <div class="imgholder"><img style="width: 80%; height: auto;" th:src="@{/images/img_7.png}"/></div>
            <h1 class="feature">Тип 4</h1>
            <p>Wow wow</p>
        </div>
        <div class="col three bg nopad pointer">
            <div class="imgholder"><img style="width: 80%; height: auto;" th:src="@{/images/img_8.png}"/></div>
            <h1 class="feature">Тип 5</h1>
            <p>Wow wow wow</p>
        </div>
        <div class="col three bg nopad pointer">
            <div class="imgholder"><img style="width: 80%; height: auto;" th:src="@{/images/img_9.png}"/></div>
            <h1 class="feature">Тип 6</h1>
            <p>Wow wow wow</p>
        </div>
        <div class="group"></div>
    </div>
</div>
<div class="section">
    <div class="container">
        <h1>Wow? Wow wow wow wow!</h1>
        <h2>Wow</h2>
        <div class="col three">
            <h1 class="icon side">[]</h1>
            <h1 class="feature side">Wow</h1>
            <p class="side">Wow wow wow wow wow wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="col three">
            <h1 class="icon side">[]</h1>
            <h1 class="feature side">Wow</h1>
            <p class="side">Wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="col three">
            <h1 class="icon side">[]</h1>
            <h1 class="feature side">Wow</h1>
            <p class="side">Wow wow wow wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="group margin"></div>
        <div class="col three">
            <h1 class="icon side">[]</h1>
            <h1 class="feature side">Wow</h1>
            <p class="side">Wow wow wow wow wow wow wow</p>
        </div>
        <div class="col three">
            <h1 class="icon side">[]</h1>
            <h1 class="feature side">Wow</h1>
            <p class="side">Wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="col three">
            <h1 class="icon side">[]</h1>
            <h1 class="feature side">Wow</h1>
            <p class="side">Wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="group margin"></div>
    </div>
</div>
<div class="section bg">
    <div class="container">
        <h1>Wow</h1>
        <h2>Wow wow wow wow</h2>
        <div class="col two bg margin extrapad">
            <h1 class="icon side">[]</h1>
            <span class="feature side">Wow</span><span class="side"> - Wow wow wow</span>
            <p class="side">Wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="col two bg margin extrapad">
            <h1 class="icon side">[]</h1>
            <span class="feature side">Wow wow</span><span class="side"> - Wow wow</span>
            <p class="side">Wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="group margin"></div>
        <div class="col two bg margin extrapad">
            <h1 class="icon side">[]</h1>
            <span class="feature side">Wow wow</span><span class="side"> - Wow</span>
            <p class="side">Wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="col two bg margin extrapad">
            <h1 class="icon side">[]</h1>
            <span class="feature side">Wow</span><span class="side"> - Wow wow</span>
            <p class="side">Wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow</p>
        </div>
        <div class="group"></div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="col two">
            <h1 class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></h1>
            <h1 class="service">Наш E-mail</h1>
            <p><a href="mailto:Wow@guta.com.ua" style="color: #444444;">Wow@guta.com.ua</a></p>
        </div>
        <div class="col two">
            <h1 class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></h1>
            <h1 class="service" style="color: #444444;">Телефон</h1>
            <p><a href=”tel:+79998887766” style="color: #444444">+7(999)888-77-66</a></p>
        </div>
        <div class="group"></div>
    </div>
</div>
<div class="section">
    <div class="footer">
        <div class="container white">
            <div class="col four left">
                <h1>What?</h1>
                <p>So that's it. This started out as 20 minutes of making fun of modern web dev. Then it turned into a few hours of it.</p>
                <p>I hope you've enjoyed looking at every modern website ever.</p>
                <p>I don't actually hate this style as long as the content is meaningful. In fact, I think this type of design is pretty cool and effective.</p>
            </div>
            <div class="col four left">
                <h1>How?</h1>
                <p>CSS3 and HTML. JS for header shrinking; optional. Site works perfectly with JS disabled (another gripe of mine with modern web dev).</p>
                <p>Only external libraries are GFonts.</p>
                <p>Moderately responsive, should work on anything modern.</p>
            </div>
            <div class="col four left">
                <h1>Why?</h1>
                <p>Many popular HTML themes have thousands of lines of HTML, thousands of lines of CSS and several JS plugins on every page amounting to tens of thousands of lines of JavaScript.</p>
                <p>I fail to see a valid reason for this, particularly the horrendous line counts that are usually due to unused features or badly designed code.</p>
            </div>
            <div class="col four left">
                <h1>Who?</h1>
            </div>
            <div class="group"></div>
        </div>
    </div>
</div>
</body>
<script>
    document.getElementById("video").playbackRate = 0.5;
</script>
</html>